.card-title{
    color: #00587A;
    font-weight: bold;
}

.btn-edit {
    width: 180px;
    height: 40px;
    border: none;
    margin-top: 20px;
    margin-bottom: 15px;
    background: #2EC66F;
}

.custom-card{
    border: 1.5px solid #00587A;
}

.custom-body {
    margin-left: 50px;
}

#Female{
    margin-left: 20px;
    margin-top: 12px;
}

.footer {
    position:unset !important;
}

.profile-picture-1 {
    margin-top: 17px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
