a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: none;
    color: inherit;
}

.suggestion p, .suggestion h5, .new-post-detail p, .post p, .post h5{
    margin: 0;
}

.profile, .suggestion, .ads {
    border: 1px solid #00587a;
    border-radius: 20px;
}

.profile{
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.profile-image{
    width: 24px;
}

.profile-image img{
    width: 100%;
}

.suggestion-card{
    display: flex;
    margin: 0 0 10px;
}

.suggestion-title{
    display: flex;
    padding: 16px;
}

.suggestion-img{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.suggestion-img img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.suggestion-detail{
    width: 80%;
    padding: 8px;
    display: flex;
    flex-direction: column;
}

.new-post-detail{
    padding: 16px;
    border-color: #00587A;
    border: 1px solid #00587a;
    border-radius: 20px;
    display: flex;
}

.new-post-text{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 15px;
}

.new-post-button{
    width: 20%;
    margin-right: 20px;
}

.post{
    display: flex;
    flex-direction: column;
    border: 1px solid #00587a;
    border-radius: 20px;
}

.post:hover{
    background-color: rgb(245, 245, 245);
}

.post-header{
    padding: 16px;
    display: flex;

}

.post-profile-photo{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-profile-photo img {
    width: 100%;
}

.post-info{
    width: 90%;
    padding-left: 16px;
}

.post-detail{
    padding: 16px;
}

.post-photo{
    height: 30%;
}

.post-photo img{
    width: 100%;
}

.custom-profile-picture {
    width: 20px;
    height: 50px;
    border-radius: 50%;
    margin-left: 15px;
}
