@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body,html{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}
#app{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer{
    width: 100%;
    margin-bottom: 0px;
    position: absolute;
}
.btn-login{
    background-color: #00587A;
    color: white;
    padding: 5px 150px;
}
.container-login{
    margin-top: 200px;
    margin-bottom: 235px;
}