

.container-custome{
  padding: 100px 0 200px;

}

.sub-container-custome{
  
  width: 60%;
  height:450px;
  margin-left: 230px;
  padding: 1.5rem 1rem;
  font-weight: bold;
}

.payment-type-container{
  margin-top: 25px;
 
}

label{
  cursor: pointer;
  filter : grayscale(100%);
}

label :hover{
  filter : grayscale(0);
}

input[type="radio"]:checked + label{
  
  filter : grayscale(0);
}

.payment-type-custome{
  padding : 15px 0px; 
}

.term-text{

 text-align: left;
 padding: 0 0.5rem ;
 margin: 1rem 0;
}

.btn-custome{
  
  margin: 2rem 0;
  
}