.emp-AO {
    border: 1px solid #00587a;
    border-radius: 20px;
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
}
.Account-overview{
    color: #00587a;
    font-weight: 700;
}


.button-custom{
    background-color:  #38c172 !important;
    color: white;
}

.status-premium{
    text-align: center;
    height: 100%;
    width: 100px;
    padding: 10px 0;
    border-radius: 5px;
    background-color: #DCB21F;
    stroke: #DCB21F;
    color: white;
}



.custom-file-input{
    width: 50%;
    background-color:white;
}

.cutom-profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.downloadable_file{
    color:rgb(0, 149, 218);
    text-decoration: underline;
}

.downloadable_file:hover{
    color:blue;
    text-decoration: underline;
}
